.layout {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .smallImgPosition {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .btnLayout {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
}
