.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 14px solid transparent;
    border-top: 14px solid #ff8d28;

    border-radius: 50%;
    width: 430px;
    height: 430px;
    animation: spin 3s linear infinite;
}
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
